<h1>Inscription sur Recrutas (2)</h1>

<h2>Validation de votre inscription</h2>

<p>Bonjour
	{{ user.firstname }},</p>

<p>Vous venez de valider votre compte sur Recrutas</p>

<a href="myapp://account/login">Cliquer sur ce lien pour vous connectez à la l'application</a>
